{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Cybermall{% endblock %}</title>

    <link rel="stylesheet" href="{{STATIC_URL }}bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{STATIC_URL }}bootstrap/css/bootstrap-theme.min.css">

    <script src="{{STATIC_URL }}custom/js/jquery.js"></script>

    <script src="{{STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    <link href="{{STATIC_URL }}custom/css/carousel.css" rel="stylesheet">

    <link href="{{STATIC_URL }}custom/css/navbar-fixed-top.css" rel="stylesheet">

    <link href="{{STATIC_URL }}custom/css/style.css" rel="stylesheet">

    <link href="{{STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet">

    {% block additional_js_files %}

    {% endblock %}

</head>
<body>

    <!-- Static navbar -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="row site_banner">
            <div class="col-md-6">
                <a href="/">
                    <img src="{% static 'custom/images/logo.png' %}" >
                </a>
            </div>
            <div class="col-md-3">
                <i class="fa fa-mobile-phone fa-3x"></i> 0244-xxx-xxx
            </div>
            <div class="col-md-2">
               <a href="#">
                What is Cyber Mall GH ?
               </a>
            </div>
            <div class="col-md-1">
                <a href="#">
                   Help
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-10">

            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-addon"> Search</span>
            </div>

            </div>

            <div class="col-md-1">
            </div>
        </div>

        <!--  horizontal nvabar start -->


        <!--  horizontal nvabar end -->

    <!-- vertical navbar start-->

    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#">Computers</a></li>
      <li><a href="#">Mobile Phones</a></li>
      <li><a href="#">Home Appliances</a></li>
    </ul>
    <!-- vertical navbar end-->

      </div>

    </div>

    <!-- Navbar end-->



{% block content_area %}

{% endblock %}

{% block intro_on_cybermall %}

{% endblock intro_on_cybermall %}


{% block all_top_brands %}

{% endblock all_top_brands %}


<div class="footer-cybermall">
<div class="row">
    <div class="col-md-4">
        <h4>Cybermall</h4>
        <table class="table">
            <tr>
               <td> <a href="#">Return Policy </a> </td>
               <td> <a href="#">Frequently Asked Questions</a> </td>
            </tr>
            <tr>
               <td> <a href="#">How We Work</a> </td>
               <td> <a href="#">Terms and Conditions</a> </td>
            </tr>
        </table>
    </div>

    <div class="col-md-4">
        <h4>Contact Us</h4>
        <table class="table">
            <tr>
                <td> <a href="#"> <i class="fa fa-twitter fa-3x"></i> </a> </td>
                <td> <a href="#"> <i class="fa fa-youtube fa-3x"></i> </a>  </td>
                <td> <a href="#"> <i class="fa fa-facebook fa-3x"></i> </a>  </td>
            </tr>
            <tr>
                <td> <a href="#"> <i class="fa fa-instagram fa-3x"></i> </a> </td>
                <td> <a href="#"> <i class="fa fa-google-plus fa-3x"></i> </a>  </td>
                <td> <a href="#"> <i class="fa fa-phone fa-3x"></i> </a>  </td>
            </tr>
        </table>
    </div>

    <div class="col-md-4">
        <h4>Our Brands</h4>
        <table class="table">
            <tr>
               <td> HP </td>  <td> Acer </td> <td> HP </td>
            </tr>
            <tr>
               <td> Apple </td>  <td> Calvin Klein </td> <td> Dolce & Gabbana </td>
            </tr>
            <tr>
               <td> BlackBerry </td>  <td> Canon </td> <td> Dell </td>
            </tr>
            <tr>
               <td> Diesel </td>  <td> Giorgio Armani </td> <td> Kodak </td>
            </tr>
            <tr>
               <td> Logitech </td>  <td> Huawei </td> <td> Lenovo </td>
            </tr>
            <tr>
               <td> Microsoft </td>  <td> Tecno </td> <td> Philips </td>
            </tr>
            <tr>
               <td> HTC </td>  <td> Huawei </td> <td> Ralph Lauren </td>
            </tr>
            <tr>
               <td> Toshiba </td>  <td> Panasonic </td> <td> Sony </td>
            </tr>
        </table>
    </div>

</div>
</div>

</body>
</html>